div .App {
  text-align: center;
  background-image: url(https://caedmonsmom.files.wordpress.com/2013/05/img_8632.jpg);
  height: 100%;
  width: 100vw;
  flex-direction: column;
  flex: auto;
}

body, html {
  width: 100vw;
  height: 100%;
  margin: 0;
  font-family: 'Crimson Pro', serif;
  color: rgb(251, 255, 0);
}

div .bg-image {
    background-image: url(https://caedmonsmom.files.wordpress.com/2013/05/img_8632.jpg);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }